body {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    /* background-color: blue; */
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
}

.navLink li {
    /* width: 100%; */
    /* margin: .5rem; */
}

.navLink a {
    display: block;
    color: purple;
    padding: 1rem 3rem;
    margin: 3px;
    background-color: lightblue;
}

.navLink a:hover {
    background-color: green;
}

main {
    margin-left: 2rem;
}

.new_input {
    /* display: none; */
}

.adminCategory input[type=text] {
    margin: .25rem;
    padding: .25rem;
    width: 20rem;
}

.adminCategory input[type=text]:read-only {
    color: lightslategray;
}

.adminCategory h2 {
    margin-bottom: .24rem;
}

.hide {
    display: none;
}

.largeform li {
    width: 100%;
    margin: .5rem 0;
}

.largeform label {
    width: 100%;
}

.largeform input,
.largeform textarea,
.largeform select {
    width: 100%;
    display: flex;
}

.largeform input[type=checkbox] {
    width: 1rem;
}

.smallform {
    margin-bottom: .5rem;
}

.linkbtn {
    border: 1px solid black;
    padding: .5rem 1rem;
    margin: 1rem 0rem;
    display: block;
    text-align: center;
    background-color: lightblue;
}