body {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    /* background-color: blue; */
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
}

.navLink li {
    /* width: 100%; */
    /* margin: .5rem; */
}

.navLink a {
    display: block;
    color: purple;
    padding: 1rem 3rem;
    margin: 3px;
    background-color: lightblue;
}

.navLink a:hover {
    background-color: green;
}

main {
    margin-left: 2rem;
}

.new_input {
    /* display: none; */
}

.adminCategory input {
    margin: .25rem;
    padding: .25rem;
    width: 20rem;
}

.adminCategory h2 {
    margin-bottom: .24rem;
}