{% extends 'main.html' %}

{% load static %}

{% block content %}
<h1>Admin</h1>

<section class="adminCategory">
    <h2>Cohorts</h2>
    <ul>
        {% for cohort in cohorts %}
            <li id="cohort-{{ cohort.id }}"><input type="text" value="{{cohort.name}}" class="editInput" readonly><span class="adminEdit">Edit</span><span class="adminSave hide">Save</span></li>
        {% endfor %}
        <div>
            <form action="/100devs/admin/create-cohort/" method="POST">
                {% csrf_token %}
                <input type="text" id="new_cohort" name="name" class="new_input" placeholder="Add cohort">
                <button>Add</button>
            </form>
        </div>
    </ul>
    <!-- <a href="">+ Add Cohort</a> -->
</section>

<section class="adminCategory">
    <h2>Genders</h2>
    <ul>
        {% for gender in genders %}
        <li id="gender-{{ gender.id }}"><input type="text" value="{{gender.name}}" class="editInput" readonly><span class="adminEdit">Edit</span><span class="adminSave hide">Save</span></li>
        {% endfor %}
        <div>
            <form action="/100devs/admin/create-gender/" method="POST">
                {% csrf_token %}
                <input type="text" id="new_gender" name="name" class="new_input" placeholder="Add gender">
                <button>Add</button>
            </form>
        </div>
    </ul>
    <!-- <a href="">+ Gender</a> -->
</section>

<section class="adminCategory">
    <h2>Race & Ethnicities</h2>
    <ul>
        {% for re in race_ethnicity %}
        <li id="re-{{ re.id }}"><input type="text" value="{{re.name}}" class="editInput" readonly><span class="adminEdit">Edit</span><span class="adminSave hide">Save</span></li>
        {% endfor %}
        <div>
            <form action="/100devs/admin/create-race/" method="POST">
                {% csrf_token %}
                <input type="text" id="new_race_eth" name="name" class="new_input" placeholder="Add race/ethnicity">
                <button>Add</button>
            </form>
        </div>
    </ul>
</section>

<section class="adminCategory">
    <h2>How You Heard About Us</h2>
    <ul>
        {% for hau in hear_about_us %}
        <li id="heard-{{ hau.id }}"><input type="text" value="{{hau.name}}" class="editInput" readonly><span class="adminEdit">Edit</span><span class="adminSave hide">Save</span></li>
        {% endfor %}
        <div>
            <form action="/100devs/admin/create-heard/" method="POST">
                {% csrf_token %}
                <input type="text" id="new_heard" name="name" class="new_input" placeholder="Add how you heard about us">
                <button>Add</button>
            </form>
        </div>
    </ul>
</section>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/admin_page.js' %}"></script>
{% endblock js %}